$default-background: #f7f7f7;
$default-hover-color: #deeafb;
$click-active-color: #409EFF;
$max-width: 80%;

$default-font-family: "Monda", "PingFang SC", "Microsoft YaHei", sans-serif;
$border-shadow: 0 4px 10px rgba(0, 0, 0, 0.05), 0 0 1px rgba(0, 0, 0, 0.1);
